<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiuqsEmoticonkeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>732090A41DDA9A1E00C757FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>732090BD1DDA9A1E00C757FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>732090C81DDA9A1E00C757FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
