<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[呲牙]</key>
	<string>1</string>
	<key>[调皮]</key>
	<string>2</string>
	<key>[汗]</key>
	<string>3</string>
	<key>[偷笑]</key>
	<string>4</string>
	<key>[拜拜]</key>
	<string>5</string>
	<key>[打你]</key>
	<string>6</string>
	<key>[擦汗]</key>
	<string>7</string>
	<key>[猪头]</key>
	<string>8</string>
	<key>[玫瑰]</key>
	<string>9</string>
	<key>[流泪]</key>
	<string>10</string>
	<key>[快哭了]</key>
	<string>11</string>
	<key>[嘘]</key>
	<string>12</string>
	<key>[酷]</key>
	<string>13</string>
	<key>[抓狂]</key>
	<string>14</string>
	<key>[委屈]</key>
	<string>15</string>
	<key>[屎]</key>
	<string>16</string>
	<key>[炸弹]</key>
	<string>17</string>
	<key>[菜刀]</key>
	<string>18</string>
	<key>[可爱]</key>
	<string>19</string>
	<key>[色]</key>
	<string>20</string>
	<key>[害羞]</key>
	<string>21</string>
	<key>[得意]</key>
	<string>22</string>
	<key>[吐]</key>
	<string>23</string>
	<key>[微笑]</key>
	<string>24</string>
	<key>[发火]</key>
	<string>25</string>
	<key>[尴尬]</key>
	<string>26</string>
	<key>[惊恐]</key>
	<string>27</string>
	<key>[冷汗]</key>
	<string>28</string>
	<key>[心]</key>
	<string>29</string>
	<key>[嘴唇]</key>
	<string>30</string>
	<key>[白眼]</key>
	<string>31</string>
	<key>[傲慢]</key>
	<string>32</string>
	<key>[难过]</key>
	<string>33</string>
	<key>[惊讶]</key>
	<string>34</string>
	<key>[疑问]</key>
	<string>35</string>
	<key>[睡]</key>
	<string>36</string>
	<key>[亲亲]</key>
	<string>37</string>
	<key>[憨笑]</key>
	<string>38</string>
	<key>[爱情]</key>
	<string>39</string>
	<key>[衰]</key>
	<string>40</string>
	<key>[撇嘴]</key>
	<string>41</string>
	<key>[奸笑]</key>
	<string>42</string>
	<key>[奋斗]</key>
	<string>43</string>
	<key>[发呆]</key>
	<string>44</string>
	<key>[右哼哼]</key>
	<string>45</string>
	<key>[抱抱]</key>
	<string>46</string>
	<key>[坏笑]</key>
	<string>47</string>
	<key>[企鹅亲]</key>
	<string>48</string>
	<key>[鄙视]</key>
	<string>49</string>
	<key>[晕]</key>
	<string>50</string>
	<key>[大兵]</key>
	<string>51</string>
	<key>[拜托]</key>
	<string>52</string>
	<key>[强]</key>
	<string>53</string>
	<key>[垃圾]</key>
	<string>54</string>
	<key>[握手]</key>
	<string>55</string>
	<key>[胜利]</key>
	<string>56</string>
	<key>[抱拳]</key>
	<string>57</string>
	<key>[枯萎]</key>
	<string>58</string>
	<key>[米饭]</key>
	<string>59</string>
	<key>[蛋糕]</key>
	<string>60</string>
	<key>[西瓜]</key>
	<string>61</string>
	<key>[啤酒]</key>
	<string>62</string>
	<key>[瓢虫]</key>
	<string>63</string>
	<key>[勾引]</key>
	<string>64</string>
	<key>[哦了]</key>
	<string>65</string>
	<key>[手势]</key>
	<string>66</string>
	<key>[咖啡]</key>
	<string>67</string>
	<key>[月亮]</key>
	<string>68</string>
	<key>[匕首]</key>
	<string>69</string>
	<key>[发抖]</key>
	<string>70</string>
	<key>[菜]</key>
	<string>71</string>
	<key>[拳头]</key>
	<string>72</string>
</dict>
</plist>
